process {
    withLabel: altair           { container = 'nanozoo/altair:4.1.0--086b80e' }
    withLabel:  kraken2     { container = 'nanozoo/kraken2:2.1.1--d5ded30'}
    withLabel:  krona       { container = 'nanozoo/krona:2.7.1--e7615f7'}
    withLabel: ggplot2          { container = 'nanozoo/r_ggplot2:0.1--6405f6d' }
    withLabel: python           { container = 'nanozoo/template:3.8--ccd0653' }
    withLabel: samtools         { container = 'nanozoo/samtools:1.9--76b9270' }
    withLabel: seqkit           { container = 'nanozoo/seqkit:0.13.2--cd66104' }
    withLabel: sourmash         { container = 'nanozoo/sourmash:3.4.1--16a8db7'  }
    withLabel: ubuntu           { container = 'nanozoo/basics:1.0--962b907' }
}
